body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5; /* Cor de fundo suave */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff; /* Fundo branco */
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1); /* Sombra suave */
    text-align: left; /* Alinhamento do texto à esquerda */
    max-width: 600px;
    width: 100%;
}

h1 {
    color: #333; /* Cor para o cabeçalho */
    margin-bottom: 1em;
    text-align: center; /* Centraliza o cabeçalho */
}

p {
    margin-bottom: 1em; /* Espaçamento entre parágrafos */
}

a {
    color: #007bff; /* Cor para os links */
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3; /* Cor mais escura ao passar o mouse nos links */
}
