*{
    padding: 0;
    margin: 0;
    border: 0;

    text-decoration: none;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

:root{

    --white: rgb(255, 255, 255);
    --dark-blue: rgb(0, 51, 102);
    --blue: rgb(41, 57, 102);
    --skye-blue: rgb(60, 92, 159);
    --cyan: rgb(91, 136, 165);
    --red: rgb(122, 23, 15);
    --green: rgb(61, 131, 36);
    --dark-green: rgb(31, 67, 18);
    --yellow: rgb(130, 133, 40);
    --beige: rgb(211, 205, 198);
    --black: rgb(19, 10, 30);
    --grey: rgb(217, 217, 217);

    --fs-18: 1.125;
    --fs-20: 1.25rem;
    --fs-24: 1.5rem;
    --fs-28: 1.75rem;
    --fs-30: 1.875rem;
    --fs-38: 2.375rem;
    --fs-40: 2.5rem;
    --fs-48: 3rem;
}

.submit-button {
    background-color: var(--green);
    color: var(--white);
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    float: right;
    padding: 12px 24px;
    width: auto;
    height: auto;
    text-align: center;
    font-size: var(--fs-20);
}

.next-button {
    background-color: var(--blue);
    color: var(--white);
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    float: right;
    padding: 12px 24px;
    width: auto;
    height: auto;
    text-align: center;
    font-size: var(--fs-20);
}