body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: var(--cyan);
    padding: 3em;
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
}

h2 {
    margin: 0.4em 0 2em 0;
    color: var(--white);
}

.form {
    margin-bottom: 1.5em;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 2em);
    padding: 1em;
    margin-bottom: 2em;
    border: 1px solid var(--dark-blue);
    border-radius: 4px;
    box-sizing: border-box;
    background-color: var(--white);
}

button {
    width: 50%;
    font-size: var(--fs-18);
    padding: 1em;
    background-color: var(--dark-blue);
    border: none;
    border-radius: 20px;
    color: var(--white);
    cursor: pointer;
}

button:hover {
    background-color: var(--skye-blue);
}

.error-message {
    color: var(--red);
    margin-top: 1em;
}