body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #5B88A5;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    max-width: 600px;
}

h2 {
    margin-bottom: 1.5em;
    color: white;
}

button {
    width: 80%;
    padding: 1em;
    margin: 0.5em 0;
    background-color: #243a69;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #3c5c9f;
}

button:focus {
    outline: none;
}
