.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    color: var(--dark-blue);
    margin-bottom: 20px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
    color: var(--dark-blue);
}

ol {
    list-style-type: decimal;
    padding-left: 20px;
    color: var(--dark-blue);
}

p {
    color: var(--dark-blue);
    margin-bottom: 10px;
}

.start-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.start-button:hover {
    background-color: var(--skye-blue);
}