body{
    font-size: 30px;
}

h1{
    text-align: center;
    font-size: 25px;
}

#filtro{
    background-color: #5B88A5;
    border-radius: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 0px;
    margin: 0%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: block;
    padding: 0px;
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filtrinho{
    background-color: #243A69;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 20px;
    width: auto;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: right;
    text-align: center;
    color: white;
    cursor: pointer;
    margin-left: 5%;
}

.corzinha{
    background-color: #148502;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 0px;
    margin: 0px;
    width: 24vh;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: right;
    text-align: center;
    color: white;
}


.func{
    background-color: #D4CDC5;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: block;
    padding: 0px;
    display: inline-block;
    width: 98%;
    display: flex;
    flex-direction: row;
}

.funcinho{
    padding: 10px;
    margin: 20px;
    width: auto;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: right;
    text-align: center;
    margin-left: 5%;
}

.verProvas{
    cursor: pointer;
}

.botFiltrar{
    background-color: #243A69;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 20px;
    width: 100px;
    height: 25px;
    flex-direction: column;
    align-items: center;
    justify-content: right;
    font-size: 20px;
    text-align: center;
    color: white;
    cursor: pointer;
    margin-left: 5%;
}