.container {
    max-width: 60em;
    margin: 2em auto;
}

.statement{
    background-color: var(--blue);
    color: var(--white);
    width: 100%;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: block;
    margin: 2em auto;
    padding: 1em 1.5em 1em 1.5em;
}

.textarea {
    width: 100%;
    height: 25em;
    border-radius: 20px;
    background-color: var(--beige);
    padding: 1em 1.5em 1em 1.5em;
    font-size: var(--fs-20);
}

.accountant {
    padding: 0.5em 0.5em 0.5em;
}

.next-button:hover {
    background-color: var(--skye-blue);
}