<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Usuário</title>
</head>
<body>
    <h1>Notas do Candidato</h1>
    <div th:if="${usuario != null}">
        <p>Nome: <span th:text="${usuario.nome}"></span></p>
        <p>Nota Writing: <span th:text="${usuario.notaWriting}"></span></p>
        <p>Nota Reading: <span th:text="${usuario.notaReading}"></span></p>
        <p>Nota Listening: <span th:text="${usuario.notaListening}"></span></p>
    </div>
    <a th:href="@{/usuario/usuarios}">Voltar à Lista de Usuários</a>
</body>
</html>
