<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Usuários</title>
</head>
<body>

<h1>Lista de Usuários</h1>

<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>ID da Empresa</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="usuario : ${usuarios}">
            <td th:text="${usuario.id}">ID</td>
            <td th:text="${usuario.nome}">Nome</td>
            <td th:text="${usuario.cpf}">CPF</td>
            <td th:text="${usuario.empresa != null ? usuario.empresa.id : 'N/A'}">ID da Empresa</td>
        </tr>
    </tbody>
</table>

</body>
</html>
