<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Prova de Leitura com Múltipla Escolha</title>
    <link rel="stylesheet" href="../static/css/global.css" th:href="@{/css/global.css}">
    <link rel="stylesheet" href="../static/css/TelaReadingMultiplaEscolha.css" th:href="@{/css/TelaReadingMultiplaEscolha.css}">
</head>
<body>
    <h1 th:text="${pergunta.cabecalho}">Pergunta</h1>
    <form action="/TelaProvaReadingMEscolha" method="post" class="options">
        <div th:each="resposta : ${respostas}">
            <button type="submit" class="option-button" name="resposta" th:value="${resposta.id}" th:text="${resposta.titulo}">Opção</button>
        </div>
    </form>
    <form action="/nova-pergunta" method="get">
        <button type="submit" class="submit-btn">Próxima Pergunta</button>
    </form>
</body>
</html>
