<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funcionarios</title>
    <link rel="stylesheet" href="../static/css/global.css" th:href="@{/css/global.css}">
    <link rel="stylesheet" href="../static/css/visaoProvas.css" th:href="@{/css/visaoFuncionarios.css}">
</head>
<body>
    <!--anotaçoes para o back-->

    <!--Colocar o nome conforme a empresa selecionada-->
    <h1>EMPRESA X</h1>
    

    <!-- #campos q vão receber os dados para serem pesquisados no banco e filtrar-->
<div id="filtro">
    <div class="verProvas"><img src="/YonderBase/YonderBase/src/main/resources/static/img/provaFeita.png" alt="feito"></div>

    <div class="filtrinho">Filtro Nome</div>
    <div class="filtrinho">CPF: XXX.XXX.XXX-XX</div>

    <div class="filtrinho"><div class="corzinha">SPEAKING</div></div>
    <div class="filtrinho"><DIV class="corzinha">CORRIGIDO</DIV></div>

    <div class="filtrinho">C2</div>

</div>

<!-- botao par mostrar os usuarios de acordo com o filtro-->
<div class="botFiltrar">FILTRAR</div>

<!--para o back: replicar essa div conforme existir usuario no banco da tal empresa-->
<div class="func">
    <div class="verProvas"><img src="/YonderBase/YonderBase/src/main/resources/static/img/provaFeita.png" alt="feito"></div>

    <div class="funcinho">Filtro Nome</div>
    <div class="funcinho">XXX.XXX.XXX-XX</div>

    <div class="funcinho"><div class="corzinha">SPEAKING</div></div>
    <div class="funcinho"><DIV class="corzinha">CORRIGIDO</DIV></div>

    <div class="filtrinho">C2</div>

</div>



    
</body>
</html>