<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visão Provas</title>
    <link rel="stylesheet" href="../static/css/global.css" th:href="@{/css/global.css}">
    <link rel="stylesheet" href="../static/css/visaoProvas.css" th:href="@{/css/visaoProvas.css}">
</head>
<body>
    <div class="secao4-div-card">
        <div class="card">READING
            <hr class="hrcard">
            <div class="nota" th:each="nota1 : ${mostraNota1}">
                <p th:text="${nota1.niveisId}">3</p>
            </div>
            <p style="font-size: 25px;">ACERTOS</p>
            <div class="quantquest">
                <p class="quantquestcont">Questões difíceis: 34</p>
            </div>
            <div class="quantquest">
                <p class="quantquestcont">Questões moderadas: 10</p>
                
            </div>
            <div class="quantquest">
                <p class="quantquestcont">Questões fáceis: 10</p>
            </div>





        </div>
        <div class="card">LISTENING
            <hr class="hrcard">
            <div class="nota"  th:each="nota2 : ${mostraNota2}">
                <p th:text="${nota2.niveisId}"></p>
            </div>
            <p style="font-size: 25px;">ACERTOS</p>
            <div class="quantquest">
                <p class="quantquestcont">Questões difíceis: 10</p>
            </div>
            <div class="quantquest">
                <p class="quantquestcont">Questões moderadas: 10</p>
            </div>
            <div class="quantquest">
                <p class="quantquestcont">Questões fáceis: 10</p>
            </div>
        </div>





        
        <div class="card">WRITING
            <hr class="hrcard">
            <div class="nota"  th:each="nota3 : ${mostraNota3}">
                <p th:text="${nota3.niveisId}"></p>
            </div>
            <div class="status" th:each="statu : ${verificaCorrecao}"><p th:text = "${statu.corrigido}"></p></div>
            <!-- <p style="font-size: 18px;">QUANTIDADE DE PALAVRAS</p>
            <div class="variado">
                345/500
            </div> -->
            <div onclick="window.location.href='/writing/{id}'" class="variado">
                VER TEXTO
            </div>
        </div>
        <div class="card">SPEAKING
            <hr class="hrcard">
            <div class="nota"  th:each="nota4 : ${mostraNota4}">
                <p th:text="${nota4.NiveisId}"></p>
            </div>
            <div class="status" ><p th:text="${mensagem}"></p></div>
        </div>
    </div>


<!-- 



    pego o formulario-respondido
    filtro pelo usuario x
    a partir das perguntas_id vejo a dificuldade dela
    faço uma contagem de facil,medio,dificil 
    a quantidade de correto
    fazer pro listening e writing

    a ser implementado, ficara pro final pra nao atrasar o todo

-->

</body>
</html>