<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Correção</title>
    <link rel="stylesheet" href="../static/css/global.css" th:href="@{/css/global.css}">
    <link rel="stylesheet" href="../static/css/correcaoprova.css" th:href="@{/css/correcaoprova.css}">
</head>
<body>
<div class="return-page left-button">
    <a href="TelaLogin.html" th:href="@{/}"><button class="back-button" type="submit">◄ Voltar</button></a>
</div>

<div class="user-status">
    <div class="name">
        <span th:text="${nome}"> Nome do Candidato</span>
    </div>
</div>

<div class="score">
    <div class="score-child">
        <span class="text">Listening</span>
        <span class="barra">|</span>
        <span class="nota" th:text="${notaListening}">Nota</span>
    </div>
    <div class="score-child">
        <span class="text">Reading</span>
        <span class="barra">|</span>
        <span class="nota" th:text="${notaReading}">Nota</span>
    </div>
    <div class="score-child">
        <span class="text">Writing</span>
        <span class="barra">|</span>
        <span class="nota" th:text="${notaWriting}">Nota</span>
    </div>
</div>

<div class="feedback-box">
    <div class="feedback">
        <form th:action="@{/salvarFeedback/{id}(id=${id})}" th:object="${writing}" method="post">
            <label for="feedback"></label>
            <textarea cols="50" id="feedback" name="feedback" class="textarea" th:field="*{usuario.feedback}" placeholder="FEEDBACK"></textarea>
            <button type="submit" class="blue-button">Salvar</button>
        </form>
    </div>
</div>

<div class="logo">
    <img src="../static/img/yonderlogo.png" th:src="@{/img/yonderlogo.png}" alt="Logo" class="logo">
</div>

<div class="writing-box">
    <div class="writing">
        <form th:action="@{/correcaowriting/{id}(id=${id})}" th:object="${writing}" method="get">
            <label for="resposta"></label>
            <textarea cols="50" id="resposta" class="textarea" th:field="*{resposta}" readonly></textarea>
            <button class="blue-button" type="submit">Corrigir</button>
        </form>
    </div>
</div>
</body>
</html>