<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Writing</title>
    <link rel="stylesheet" href="../static/css/writing.css" th:href="@{/css/writing.css}">
    <link rel="stylesheet" href="../static/css/global.css" th:href="@{/css/global.css}">
</head>
<body>
<div class="container">
    <div class="question-info">
        <p class="question-title" th:text="${cabecalho}"></p>
    </div>
    <form th:action="@{/writing/{id}(id=${writing.usuario.id})}" th:object="${writing}" method="post">
        <label for="answer"></label>
        <textarea id="answer" class="textarea" th:field="*{resposta}" placeholder="Máximo 500 palavras."></textarea>
        <div id="accountant" class="accountant"></div>
        <button type="submit" class="next-button">FINALIZAR</button>
    </form>
</div>
<script src="../static/script/writing.js" th:src="@{/script/writing.js}"></script>
</body>
</html>