<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Correção</title>
    <link rel="stylesheet" href="../static/css/global.css" th:href="@{/css/global.css}">
    <link rel="stylesheet" href="../static/css/correcaowriting.css" th:href="@{/css/correcaowriting.css}">
</head>
<body>

<div class="container">
    <div class="back-button-box">
        <a href="TelaLogin.html" th:href="@{/}">
            <button class="back-button"><span class="triangle-back">&#9664;</span> Voltar</button>
        </a>
    </div>
    <div class="writing">
        <form th:action="@{/correcaowriting/{id}(id=${id})}" th:object="${formularioWrite}" method="post">
            <div class="wrapper">
                <div class="wrapped">
                    <label for="resposta"></label><textarea cols="50" id="resposta" class="textarea" th:field="*{resposta}" readonly></textarea>
                </div>
                <div class="wrapped">
                    <label for="correcao"></label><textarea cols="50" id="correcao" class="textarea" th:field="*{correcao}" placeholder="Campo para Correção de Writing"></textarea>
                    <input type="hidden" id="notaSelecionada" name="notaSelecionada" th:value="${notaWriting}" />
                </div>
            </div>
            <div class="buttons">
                <div class="dropdown">
                    <button type="button" class="next-button dropbtn">NOTA<span class="triangle-down">&#9662;</span></button>
                    <div class="dropdown-content">
                        <a class="option" onclick="chooseOption('A1')">A1</a>
                        <a class="option" onclick="chooseOption('A2')">A2</a>
                        <a class="option" onclick="chooseOption('B1')">B1</a>
                        <a class="option" onclick="chooseOption('B2')">B2</a>
                        <a class="option" onclick="chooseOption('C1')">C1</a>
                        <a class="option" onclick="chooseOption('C2')">C2</a>
                    </div>
                </div>
                <button type="submit" class="submit-button">CONCLUIR</button>
            </div>
        </form>
    </div>
</div>

<script src="../static/script/correcaowriting.js" th:src="@{/script/correcaowriting.js}"></script>
</body>
</html>