<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Preparação para a Prova</title>
    <link rel="stylesheet" href="../static/css/global.css" th:href="@{/css/global.css}">
    <link rel="stylesheet" href="../static/css/regras.css" th:href="@{/css/regras.css}">
</head>
<body>
<div class="container">
    <h2>Preparação para a Prova</h2>
    <div class="section">
        <ul>
            <li>A prova consiste em responder a uma pergunta aberta sobre um tópico relacionado ao curso de inglês.</li>
            <li>Você terá 30 minutos para concluir a prova.</li>
            <li>É importante revisar suas respostas antes de finalizar.</li>
            <li>Certifique-se de escrever de forma clara e coesa.</li>
            <li>Boa sorte!</li>
        </ul>
    </div>
    <div class="section">
        <h3>Seções da prova:</h3>
        <ol>
            <li>Teste de Reading</li>
            <li>Teste de Writing</li>
            <li>Teste de Listening</li>
        </ol>
    </div>
    <p class="final-message">Fique tranquilo, você está preparado para isso!</p>
    <a href="TelaReading.html" th:href="@{'/reading/' + ${id} + '/pergunta/1'}" class="next-button">Iniciar Prova</a>
</div>
</body>
</html>