<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Usuários</title>
    <link rel="stylesheet" href="../static/css/global.css" th:href="@{/css/global.css}">
    <link rel="stylesheet" href="../static/css/listarUsuarios.css" th:href="@{/css/listarUsuarios.css}">
</head>
<body>
<div class="container">
    <img src="../static/img/yonderlogo.png" th:src="@{/img/yonderlogo.png}" alt="Logo" class="logo">
    <h2>Lista de Usuários</h2>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>ID da Empresa</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="usuario : ${usuarios}">
            <td th:text="${usuario.id}">ID</td>
            <td th:text="${usuario.nome}">Nome</td>
            <td th:text="${usuario.cpf}">CPF</td>
            <td th:text="${usuario.empresa != null ? usuario.empresa.id : 'N/A'}">ID da Empresa</td>
            <td><a th:href="@{'/correcao/' + ${usuario.id}}">Corrigir Prova</a></td>
        </tr>
        </tbody>
    </table>
    <a href="#" th:href="@{/}"><button type="submit">Voltar</button></a>
</div>
</body>
</html>