<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visão Empresas</title>
    <link rel="stylesheet" href="../static/css/global.css" th:href="@{/css/global.css}">
    <link rel="stylesheet" href="../static/css/visaoEmpresas.css" th:href="@{/css/visaoEmpresas.css}">
</head>
<body>
    <br>
    <div class="titulo">Gerenciamento de Empresas</div>
    <hr id="hrfora">

<div class="botaocriar">   Criar empresa     </div>    


    <div class="caixa"> 
        <div class="dentrocaixa">
            <div class="tiloempr"><p>Empresa...........</p></div>
        <div class="botaodeletar">Deletar</div>
        </div>
        <hr id="hrdentro">
    </div>
    <!-- so fazer o back criar a linha conforme existir dados na lista
    fazer limite de carregados por vez
    
    -->
    
</body>
</html>