<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.text {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.text p {
  margin: 0;
}

.text hr {
    width: 2px; /* Largura da linha vertical */
  height: 50px; /* Altura da linha vertical */
  border: none;
  border-left: 1px solid black; /* Ajuste a cor e estilo da linha vertical */
  margin: 0 10px; /* Espaçamento entre o texto e a linha vertical */
}
    </style>
</head>
<body>
    <div class="container">
        <div class="text">
          <p>Texto 1</p>
          <hr>
          <p>Texto 2</p>
          <hr>
          <p>Texto 3</p>
        </div>
      </div>

      <div class="quantquest">
        <p class="quantquestcont">test</p>
        <hr>
    </div>
    
</body>
</html>